@import './styles/variables.css';
@import './styles/global.css';

header {
  background-color: var(--color-gray-800);  
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-sm);
  color: var(--color-gray-700);
  font-weight: 500;
}